.anchoFooter{
    margin-top: 30px;
    background-color: white;
    text-align: center;

}

@mixin facebook{
    text-align: center;
    margin-left: 5px;
}

.bi-facebook{
    @include facebook;
    margin-right: 5px;
    color: black;

    &:hover {
          color: blue;
    }
}

.bi-whatsapp {
    @extend .bi-facebook;

       &:hover {
         color: green;
   }
}  

.bi-instagram {
    @extend .bi-facebook;

       &:hover {
          color: red;
    }
}
