*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}



@import "footer";
@import "header";
@import "main";